# swagger
seung.swagger.title=seung-swagger
seung.swagger.description=seung-description
seung.swagger.version=
seung.swagger.name=seung
seung.swagger.url=
seung.swagger.email=seung.dev@gmail.com